@import url('https://fonts.googleapis.com/css?family=Lato');

$color_white: #FFFFFF;
$color_button: #ED4C5C;
$color_background: #FAFAFA;
$color_black: #000000;
$color_border_contact: #333333;
$color_input_placeholder: rgba(19, 39, 67, 0.5);
$color_card_text: #101010;
$font_size_header_logo: 18px;
$font_size_navbar: 14px;
$font_size_hero_title_big: 72px;
$font_size_hero_title_small: 72px;
$font_size_hero_text: 24px;
$font_size_hero_button_text: 14px;
$font_size_box_title: 18px;
$font_size_box_text: 12px;
$font_size_text_box_title: 36px;
$font_size_text_box_desc: 14px;
$font_size_section_title: 36px;

*{
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    padding:0;
    margin: 0;
    font-family: 'Lato';
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%) , url("../img/Rectangle3.png") no-repeat;
    background-size: 100% auto;
}
.mw1110{
    max-width: 1110px;
    margin: 0 auto;
}
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
}
.header_logo{
    display: flex;
    align-items: center;
    width: 172px;
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_header_logo;
    line-height: 22px;

    text-transform: uppercase;
    color: $color_white;
}
/* NAVBAR */
.navbar{
    width: 445px;
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_navbar;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    max-width: 445px;
    height: 22px;
    color: $color_white;
}
.navbar_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar a{
    text-decoration: none;
    color: $color_white;
}
/* SECTION HERO */

.hero_wrapper{
    min-height: 682px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero_title{
    max-width: 578px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_hero_title_big;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color_white;
    margin-bottom: 39px;
}
.hero_text{
    max-width: 540px;
    min-height: 124px;
    font-style: normal;
    font-weight: 600;
    font-size: $font_size_hero_text;
    line-height: 150%;

    /* or 36px */
    text-align: center;
    padding-bottom: 39px;
    color: $color_white;
}
.hero_button{
    background: $color_white;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    border:none;
}

.hero_button--text{

    font-style: normal;
    font-weight: 600;
    font-size: $font_size_hero_button_text;
    line-height: 17px;

    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $color_button;
}
/* FEATURES */
#features{
    background: $color_background;
    min-height: 660px;
}

.features_box{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.features_items--img{
    width: 350px;
    height: 250px;
    border-radius: 8px;
    position: relative;
}
.img_bg1{
    background: url("../img/Bg1.png");
}
.img_bg2{
    background: url("../img/Bg2.png");
}
.img_bg3{
    background: url("../img/Bg3.png");
}
.features_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.features_items--card{
    width: 293px;
    height: 198px;
    background: $color_white;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 157px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.card_title{
    height: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_box_title;
    line-height: 22px;
    text-align: center;
    margin: 33px 32px 20px 32px;
    color: $color_card_text;
}
.card_text{
    font-style: normal;
    font-weight: normal;
    font-size: $font_size_box_text;
    line-height: 150%;
    text-align: center;
    margin: 0 32px 5px 32px;
    color: $color_card_text;
    height: 57px;
}
.card_read_more{
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_box_text;
    line-height: 150%;
    padding: 0 20px 25px 20px;
    text-align: center;
    color: $color_button;
}

/* SECTION TECHNOLOGY */
#technology{
    min-height: 500px;
    background: $color_white;
}
.technology-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.technology_box{
    width: 255px;
    min-height: 226px;
    background: $color_white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.technology_box--img{
    width: 117px;
    min-height: 120px;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    position: relative;
    /* identical to box height */
    text-align: center;
    padding: 0 69px 0 69px;
    color: rgba(16, 16, 16, 0.08);
}
.img_vector{
    position: absolute;
    top: 59px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.img_01{
    background: url("../img/01.svg") no-repeat center;
}
.img_02{
    background: url("../img/02.png") no-repeat center;
}
.img_03{
    background: url("../img/03.png") no-repeat center;
}
.img_04{
    background: url("../img/04.png") no-repeat center;

 }

.technology_box--title{
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_box_title;
    line-height: 22px;
    text-align: center;
    min-height: 22px;
    color: $color_card_text;
    margin: 19px 71px 10px 71px;
}
.technology_box--text{
    font-style: normal;
    font-weight: normal;
    font-size: $font_size_box_text;
    line-height: 14px;
    text-align: center;
    min-height: 51px;
    color: $color_black;
    margin: 0 30px 4px 34px;
}
/* SECTION APP-DOWNLOAD */
#app_download{
    min-height: 500px;
    background: $color_button;
}
.app_download_wrapper{
    display: flex;
}
.app_download_text_box{
    max-width: 445px;
    min-height: 195px;
    margin: 122px 81px 0 0;
}
.app-download_slider{
    width: 533px;
    min-height: 311px;
}
.text_box--title{
    font-style: normal;
    font-weight: 600;
    font-size: $font_size_text_box_title;
    line-height: 43px;
    min-height: 107px;
    color: $color_white;
}
.text_box--desc{
    font-style: normal;
    font-weight: normal;
    font-size: $font_size_text_box_desc;
    line-height: 140%;
    min-height: 64px;
    text-align: justify;
    margin-top: 24px;
    color: $color_white;
}
.text_box_icons{
    height: 32px;
    margin-top:40px;

    display: flex;
}
.text_box_icons div{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.icons_google{
    background: url("../img/ion-logo-apple-appstore.svg") no-repeat center;
}
.icons_apple{
    background: url("../img/ion-logo-google-playstore.svg") no-repeat center;
}
.icons_windows{
    background: url("../img/simple-icons_windows.svg") no-repeat center;
}
.app-download_slider{
    margin-top: 94px;
    position: relative;
}
.slider_item{
    position: absolute;
    border-radius: 15px;
}
.slider_photo01{
    left: 44px;
    /*width: 445px;
    height: 311px;*/
    z-index: 3;
}
.slider_photo02{
    top: 22px;
    z-index: 1;
}
.slider_photo03{
    left: 150px;
    top: 22px;
    z-index: 1;
}
.slider_photo_02, .slider_photo_03{
    opacity: 0.5;
    /*width: 383px;*/
    height: 267px;
}
/* SECTION CONTACT */
#contact{
    min-height: 500px;
    background: $color_white;
}
.contact_wrapper{
    padding-top: 117px;
    display: flex;
    justify-content: space-between;
}
.contact_left_box{
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    max-width: 445px;
    min-height: 160px;
}
.contact_right_box{
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    max-width: 540px;
    min-height: 160px;
}
.left_box--title{
    font-style: normal;
    font-weight: 600;
    font-size: $font_size_text_box_title;
    line-height: 43px;
    height: 107px;
    color: $color_black;
}
.left_box--text{
    font-style: normal;
    font-weight: normal;
    font-size: $font_size_text_box_desc;
    line-height: 140%;
    text-align: justify;
    height: 64px;
    color: $color_black;
}
.form_item{
    width: 540px;
    min-height: 60px;
    padding-bottom: 24px;
}
.form_item input, .form_item select{
    width: 100%;
}
.form_half--row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.form_half--row .form_item{
    width: 45%;
}
#contactService option{
    color: $color_input_placeholder;
}
.input_text, #contactService{
    border: 1px solid $color_border_contact;
    box-sizing: border-box;
    border-radius: 6px;
    height: 60px;
    padding: 21px 0 20px 31px;
}
#btn_submit{
    width: 160px;
    height: 50px;
    background: $color_button;
    border: 1.5px solid $color_button;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: $font_size_text_box_desc;
    line-height: 17px;
    text-transform: uppercase;
    color: $color_white;
}
/* GENERAL */
.section_title{
    font-style: normal;
    font-weight: 600;
    font-size: $font_size_section_title;
    line-height: 43px;
    text-align: center;
    padding: 63px 0 63px 0;
    color: $color_black;
}
.pl-20{
    padding-left: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color_input_placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $color_input_placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $color_input_placeholder;
}
:-moz-placeholder { /* Firefox 18- */
    color: $color_input_placeholder;
}

/* MEDIA */

@media only screen and (max-width: 1110px) {
    body{
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%) no-repeat;
    }
    .mw1110-jc {
        justify-content: center;
    }
    .mw1110-sa {
        justify-content: space-around;
    }
    .ff-column{
        flex-flow: column wrap;
    }
    .margin-auto{
        margin: auto;
    }
    .app-download_slider{
        margin: 10px auto 10px auto;
    }
    .features_box{
        min-height: 400px;
    }
    .features_items--img img, .slider_photo_01{
        width: 100% !important;
        height: auto !important;
    }
    .form_item,.app_download_text_box{
        width: 100%;
    }
    .left_box--title{
        text-align: center;
    }
    .navbar{
        width:auto;
    }
    .navbar_list{
        margin-top: 100px;
    }
    .navbar_list li{
        padding:10px;
    }
    .hero_title{
        font-size: $font_size_hero_title_small;
        justify-content: center;
    }
    .hero_text{
        font-size: $font_size_header_logo;
    }
    section{
        padding: 10px;
    }
    .features_items--img{
        width: 100%;
        height: 100%;
    }
    .contact_wrapper{
        padding-top: 40px;
        flex-wrap: wrap;
    }
    .features_items--card{
        width: 80%;
        height: auto;
    }

}
@media only screen and (max-width: 600px) {
    .app-download_slider{
        widtH: 100%;
    }
    .slider_item{
        position: unset;
        margin: 15px;
    }
    .slider_photo02, .slider_photo03{
        display: none;
    }
}